/target
otpg-core/proofs/fstar/extraction/*
!otpg-core/proofs/fstar/extraction/Makefile
otpg-contrib/proofs/fstar/extraction/*
!otpg-contrib/proofs/fstar/extraction/Makefile
.fstar-cache/
.cache.boot/